/data/
/.idea/
*.pyc
*.csv
/json_files/ECESample.json
/json_files/ECESample_DS.json
/ekg_creator/ece_sample/
/file_preperation/ece_prepare.py
/ekg_creator/database_managers/remote_authentication.py
/perf/ECESample/
